{
  "presets": ["env", "stage-3", "react"],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [".js", ".jsx", ".scss"],
        "alias": {
          "@components": "./src/components",
          "@pages": "./src/pages",
          "@styles": "./src/styles",
          "@test": "./src/__test__"
        }
      }
    ]
  ]
}
