{
  "presets": ["env", "stage-3", "react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [".js", ".jsx", ".scss"],
        "alias": {
          "@styles": "styles",
          "@test": "__test__",
          "@pages": "pages"
        }
      }
    ]
  ]
}
